<div fxLayout="column">
    <div fxFlexOffset="10vh">
        <div fxLayout="row">
            <div fxFlex.lt-md="5" fxFlex.gt-sm="20"></div>
            <div class="main-login mat-app-background" fxFlex.lt-md="90" fxFlex.gt-sm="60">
                <div class="login-title">
                    <h2 translate>login.title</h2>
                    <p translate>login.subtitle</p>
                </div>
                <ngx-auth-firebaseui [providers]="providersEnabled" [providersTheme]="providersTheme"
                        [guestEnabled]="false" (onSuccess)="redirect()"
                        [signInTabText]="'ngxauthfirebaseui.signInTabText' | translate"
                        [signInCardTitleText]="'ngxauthfirebaseui.signInCardTitleText' | translate"
                        [loginButtonText]="'ngxauthfirebaseui.loginButtonText' | translate"
                        [forgotPasswordButtonText]="'ngxauthfirebaseui.forgotPasswordButtonText' | translate"
                        [nameText]="'ngxauthfirebaseui.nameText' | translate"
                        [nameErrorRequiredText]="'ngxauthfirebaseui.nameErrorRequiredText' | translate"
                        [nameErrorMinLengthText]="'ngxauthfirebaseui.nameErrorMinLengthText' | translate"
                        [nameErrorMaxLengthText]="'ngxauthfirebaseui.nameErrorMaxLengthText' | translate"
                        [emailText]="'ngxauthfirebaseui.emailText' | translate"
                        [emailErrorRequiredText]="'ngxauthfirebaseui.emailErrorRequiredText' | translate"
                        [emailErrorPatternText]="'ngxauthfirebaseui.emailErrorPatternText' | translate"
                        [passwordText]="'ngxauthfirebaseui.passwordText' | translate"
                        [passwordErrorRequiredText]="'ngxauthfirebaseui.passwordErrorRequiredText' | translate"
                        [registerTabText]="'ngxauthfirebaseui.registerTabText' | translate"
                        [registerCardTitleText]="'ngxauthfirebaseui.registerCardTitleText' | translate"
                        [registerButtonText]="'ngxauthfirebaseui.registerButtonText' | translate"
                        [guestButtonText]="'ngxauthfirebaseui.guestButtonText' | translate"
                        [resetPasswordTabText]="'ngxauthfirebaseui.resetPasswordTabText' | translate"
                        [resetPasswordInputText]="'ngxauthfirebaseui.resetPasswordInputText' | translate"
                        [resetPasswordErrorRequiredText]="'ngxauthfirebaseui.resetPasswordErrorRequiredText' | translate"
                        [resetPasswordErrorPatternText]="'ngxauthfirebaseui.resetPasswordErrorPatternText' | translate"
                        [resetPasswordActionButtonText]="'ngxauthfirebaseui.resetPasswordActionButtonText' | translate"
                        [resetPasswordInstructionsText]="'ngxauthfirebaseui.resetPasswordInstructionsText' | translate"
                        [emailConfirmationTitle]="'ngxauthfirebaseui.emailConfirmationTitle' | translate"
                        [emailConfirmationText]="'ngxauthfirebaseui.emailConfirmationText' | translate">
                </ngx-auth-firebaseui>
            </div>
        </div>
    </div>
</div>