.login-landing
    height: 100%
    width: 100%
    overflow: hidden
    position: absolute
    display: flex
    justify-content: center
    align-items: center

.login-card
    padding: 30px
    text-align: center
    border-radius: 10px

    h1
        padding-bottom: 30px

.google-sign-in
    width: 191px
    height: 46px
    border: 0
    cursor: pointer
    background: url('/assets/img/google_signin.png')


.google-sign-in:hover
    background: url('/assets/img/google_signin_focus.png')