<div fxLayout="column">
    <div fxFlexOffset="10vh">
        <div fxLayout="row">
            <div fxFlex.lt-md="5" fxFlex.gt-sm="20"></div>
            <div class="main-login mat-app-background" fxFlex.lt-md="90" fxFlex.gt-sm="60">
                <div class="login-title">
                    <h2>Welcome to BluthBusters</h2>
                    <p>Your number one source for renting physical movies online</p>
                </div>
                <ngx-auth-firebaseui [providers]="providersEnabled" [providersTheme]="providersTheme" (onSuccess)="redirect()"></ngx-auth-firebaseui>
            </div>
        </div>
    </div>
</div>