<mat-toolbar *ngIf="afAuth.user | async as user">
    <mat-toolbar-row>
        <a mat-button [routerLink]="['/']">
            <mat-icon aria-hidden="false" aria-label="Example home icon">camera_enhance</mat-icon>
            <span class="logo-text">BluthBusters</span>
        </a>
        <span class="menu-fill-remaining-space"></span>
        <a mat-button [matBadge]="pendingRentalsCount" matBadgePosition="below after" 
                matBadgeColor="warn" [routerLink]="['/rental-history']">
                My Movies
        </a>
        <a class="menu-logout" mat-button (click)="logoutUser()">
            <mat-icon class="menu-logout" aria-hidden="false" aria-label="Log Out">input</mat-icon>
        </a>
    </mat-toolbar-row>
</mat-toolbar>
