<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a mat-button [routerLink]="['/']">
            <mat-icon aria-hidden="false" aria-label="Example home icon">camera_enhance</mat-icon>
            <span class="logo-text">BluthBusters</span>
        </a>
        <ng-template *ngIf="afAuth.user | async as user">
            <a mat-button [routerLink]="['/rental-history']">My Movies</a>
            <span class="menu-fill-remaining-space"></span>
            <a class="menu-logout" mat-button (click)="logoutUser()">
                <mat-icon class="menu-logout" aria-hidden="false" aria-label="Log Out">input</mat-icon>
            </a>
        </ng-template>
    </mat-toolbar-row>
</mat-toolbar>
