.movie-list
    padding: 30px 50px

mat-card-title
    text-align: center

mat-card
    margin-bottom: 10px
    display: flex
    flex-direction: column
    flex-shrink: 0

mat-card-content
    display: flex
    flex: 1

.mr-10
    margin-right: 10px

.ml-10
    margin-left: 10px

.image
    max-height: 300px

.no-movies-available
    padding: 2vh 4vh

.loading-movies
    display: flex
    flex-direction: column
    align-items: center

.movie-actions
    margin: 10px 0

.movie-search
    width: 100%

.movie-buttons
    display: flex
    justify-content: center
    align-items: center

.mat-icon
    font-size: 4vh