<div class="movie-list">
    <div fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px" ngClass.gt-xs="ml-10">
        <mat-card fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)"
                    *ngFor="let movie of movies">
            <mat-card-title>{{ movie.externalData.title }}</mat-card-title>
            <img mat-card-image [src]="movie.externalData.poster" class="image">
            <mat-card-content flex>{{movie.externalData.description}}</mat-card-content>
            <mat-card-actions align="end">
                <a mat-raised-button color="accent" [routerLink]="['movies', movie.id]">Details</a>
            </mat-card-actions>
          </mat-card>
    </div>
</div>