<mat-card *ngIf="movie" class="movie-card">
    <mat-card-header>
        <img mat-card-avatar [src]="movie.externalData.poster">
        <mat-card-title>{{ movie.externalData.title }}</mat-card-title>
        <mat-card-subtitle>Copies available: {{ movie.inventory.available }}</mat-card-subtitle>
    </mat-card-header>
    <div class="trailer-container" *ngIf="movieTrailer">
        <iframe [src]="movieTrailer" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <mat-card-content class="movie-description">
        <p>{{ movie.externalData.description }}</p>
    </mat-card-content>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                Details
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p><b>Director:</b> {{ movie.externalData.director }}</p>
            <p><b>Genre:</b> {{ movie.externalData.genre }}</p>
            <p><b>Year:</b> {{ movie.externalData.year }}</p>
            <p><b>Duration:</b> {{ movie.externalData.runtime }}</p>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="movie.inventory.available > 0">
            <mat-expansion-panel-header>
                <mat-panel-title>
                Rent movie
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-rental-form></app-rental-form>
        </mat-expansion-panel>
    </mat-accordion>
</mat-card>