<div class="movie-details">
    <div fxLayout="row-reverse" fxLayoutGap="20px">
        <div fxFlex></div>
        <div fxFlex="70">
            <mat-card *ngIf="movie">
                <mat-card-header>
                    <img mat-card-avatar [src]="movie.externalData.poster">
                    <mat-card-title-group>
                        <mat-card-title>{{ movie.externalData.title }}</mat-card-title>
                        <mat-card-subtitle>Copies available: {{ movie.inventory.available }}</mat-card-subtitle>
                    </mat-card-title-group>
                    <div fxFlex></div>
                    <div class="rent-movie-actions" *ngIf="canRentMovie()">
                        <button mat-raised-button color="accent" (click)="openRentMovieForm()">Rent now</button>
                    </div>
                    <app-rental-return *ngIf="movieRentDetails"></app-rental-return>
                </mat-card-header>
                <mat-card-content>
                    <div class="trailer-content">                    
                        <div fxLayout="row" fxLayoutGap="10px">
                            <div fxFlex="60">
                                <div class="video-media-youtube">
                                    <div class="video-media-youtube-inner">
                                        <div class="video-media-youtube-inner-vi01">
                                        <iframe [src]="getMovieEmbed()" frameborder="0"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="trailer-description" fxFlex>
                                <div class="movie-data">
                                    <p><b>Director:</b> {{ movie.externalData.director }}</p>
                                    <p><b>Genre:</b> {{ movie.externalData.genre }}</p>
                                    <p><b>Year:</b> {{ movie.externalData.year }}</p>
                                    <p><b>Duration:</b> {{ movie.externalData.runtime }}</p>
                                    <p><b>Plot:</b> {{ movie.externalData.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions align="end">
                    <a mat-button [routerLink]="['/']">Back</a>
                    <button mat-button (click)="openMovieDialog()" color="warn">Edit</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div fxFlex="10"></div>
    </div>
</div>