<mat-list>
    <mat-list-item *ngFor="let rental of rentals">
        <h2 matLine>{{ rental.movie.title }}</h2>
        <p matLine><b>Rented at: </b>{{ rental.rentedAt | date:'medium' }}</p>
        <p matLine *ngIf="rental.returnedAt;else deadline"><b>Returned At: </b>{{ rental.returnedAt | date:'medium' }}</p>
        <ng-template #deadline>
            <p matLine class="deadline-text"><b>Deadline: </b>{{ rental.rentUntil | date }}</p>
            <button mat-raised-button color="accent" (click)="returnMovie(rental)">Return movie</button>
        </ng-template>
    </mat-list-item>
</mat-list>