<div class="rental-history">
    <div fxLayout="row">
        <div fxFlex.lt-md="100" fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10%">
            <div class="mat-app-background" fxLayout="column" fxLayoutGap="15px" ngClass.gt-sm="bb-rounded">
                <ng-container *ngIf="rentals && rentals.length; else noHistory">
                    <div *ngFor="let rental of rentals" class="rental-entry">
                        <div fxLayout="row" fxFlexFill>
                            <div class="rental-picture" fxFlex="40">
                                <img [src]="rental.movie.poster"> 
                            </div>
                            <div fxFlex="60">
                                <div class="rental-details">
                                    <h2 matLine>
                                        <a [routerLink]="['/movies', rental.movieId]">
                                            {{ rental.movie.title }}
                                        </a>
                                    </h2>
                                    <p matLine><b translate>rental_history.rented_at</b>: {{ rental.rentedAt | date:'medium':undefined:locale }}</p>
                                    <p matLine *ngIf="rental.returnedAt;else deadline"><b translate>rental_history.returned_at</b>: {{ rental.returnedAt | date:'medium':undefined:locale }}</p>
                                    <ng-template #deadline>
                                        <p matLine class="deadline-text"><b translate>rental_history.deadline</b>: {{ rental.rentUntil | date:'longDate':undefined:locale }}</p>
                                        <app-rental-return [details]="rental" (returnMovie)="returnMovie(rental)"></app-rental-return>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                    </div>
                </ng-container>
                <ng-template #noHistory>
                    <div class="no-history">
                        <h1 translate>rental_history.empty_title</h1>
                        <a mat-button color="primary" [routerLink]="['/']">{{'rental_history.rent_now' | translate}}</a>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>