<h2 mat-dialog-title translate [translateParams]="{ value: data.title }">rental_form.title</h2>
<mat-dialog-content>
    <form [formGroup]="rentForm">
        <p translate [translateParams]="{ value: data.title }">rental_form.reminder</p>
        <mat-form-field appearence="standard">
            <mat-label translate>rental_form.until</mat-label>
            <input matInput [matDatepicker]="picker" [min]="minAllowedDate" [max]="maxAllowedDate" 
                    formControlName="rentUntil" [placeholder]="'rental_form.choose_date' | translate" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </form>
</mat-dialog-content>
<div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">
        {{'rental_form.cancel' | translate}}
    </button>
    <button mat-button [mat-dialog-close]="rentForm.value" [disabled]="!rentForm.valid" translate>
        {{'rental_form.rent' | translate}}
    </button>
</div>
