<div fxLayout="row" class="movie-form-container">
    <div fxFlex.lt-md="100" fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10%" class="mat-app-background" ngClass.gt-sm="bb-rounded">
        <div class="movie-form-title">
            <h2>{{ isUpdate ? 'Update ' + title : 'Add new movie' }}</h2>
        </div>
        
        <mat-vertical-stepper class="bb-rounded" [linear]="!isUpdate" #stepper>
            <mat-step [stepControl]="posterForm">
                <form [formGroup]="posterForm">
                    <ng-template matStepLabel>Movie poster</ng-template>
                    <app-movie-data-autocomplete *ngIf="!isUpdate" (movieSelected)="selectMovie($event)"
                        (reset)="resetForms()"></app-movie-data-autocomplete>
                    <div class="external-data-form poster-form">
                        <img *ngIf="posterControl.value" [src]="posterControl.value">
                        <mat-form-field>
                            <input matInput placeholder="Poster" type="text" formControlName="poster" required>
                            <mat-error *ngIf="posterControl.hasError('required')">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                        <div>
                            <button mat-raised-button color="primary" matStepperNext [disabled]="!posterForm.valid">Next</button>
                        </div>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="trailerForm">
                <form [formGroup]="trailerForm">
                    <ng-template matStepLabel>Trailer</ng-template>
                    <div class="external-data-form">
                        <div class="trailer-container" *ngIf="escapedTrailer">
                            <iframe [src]="escapedTrailer" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <app-trailer-autocomplete (trailerSelected)="selectTrailer($event)"
                            (reset)="trailerForm.reset()"></app-trailer-autocomplete>
                        <div>
                            <button mat-raised-button color="primary" matStepperNext [disabled]="!trailerForm.valid">Next</button>
                        </div>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="externalDataForm">
                <form [formGroup]="externalDataForm">
                    <ng-template matStepLabel>Details</ng-template>
                    <div class="external-data-form">
                        <mat-form-field>
                            <input matInput placeholder="imdbId" type="text" formControlName="imdbId" required>
                            <mat-error *ngIf="isDataMissingError('imdbId')">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Title" type="text" formControlName="title" required>
                            <mat-error *ngIf="isDataMissingError('title')">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Year" type="number" formControlName="year" required>
                            <mat-error *ngIf="yearControl.hasError('required')">
                                This field is required
                            </mat-error>
                            <mat-error *ngIf="yearControl.hasError('min') || yearControl.hasError('max')">
                                Must be a year between 1888 and now
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Director" type="text" formControlName="director" required>
                            <mat-error *ngIf="isDataMissingError('director')">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Genre" type="text" formControlName="genre" required>
                            <mat-error *ngIf="isDataMissingError('genre')">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Runtime" type="text" formControlName="runtime" required>
                            <mat-error *ngIf="isDataMissingError('runtime')">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <textarea matInput placeholder="Description" type="text" formControlName="description" required></textarea>
                            <mat-error *ngIf="isDataMissingError('description')">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Copies" type="number" formControlName="copies" required>
                            <mat-error *ngIf="copiesControl.hasError('required')">
                                Numeric value required
                            </mat-error>
                            <mat-error *ngIf="copiesControl.hasError('min')">
                                Must be greater than 0
                            </mat-error>
                        </mat-form-field>
                    </div>
                </form>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button [disabled]="!isMovieValid()" (click)="submitForms()">
                        {{ isUpdate ? 'Save' : 'Add' }}
                    </button>
                </div>              
            </mat-step>
        </mat-vertical-stepper>
    </div>
</div>
